// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor::shadow {
  .gutter[gutter-name="blame"] {
    width: 250px;
  }
  .blame-gutter {
    width: 100%;

    .blame-gutter-inner {

       padding: 0 5px;
       box-sizing: border-box;

       border-right: 1px solid @base-border-color;

       white-space: nowrap;
       text-overflow: ellipsis;
       overflow-x: hidden;
       width: 100%;
       text-align: left;

       &.blame-odd {
         background-color: rgba(255, 255, 255, 0.02)
       }

       &.blame-even {
         background-color: rgba(0, 0, 0, 0.02)
       }
     }
  }
 }
